#triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
    margin: 10px
  }


  #square {
	width: 100px;
	height: 100px;
    background: blue;
    margin: 10px;
}